<div class="col-10 offset-1">
  <br />
  <div class="inset-box  text-center">
    <h1>Welcome to DSPBUddy!</h1>
  </div>
  <br />
  <div class="inset-box text-center">
    <br />
    <p>
      DSPBuddy is a digital signal database with built in visualization and processing tools.  It is designed to be accessible from any computer connected to the internet without needing any additional programs installed.  DSPBuddy is currently in its infancy however there are plans to add many more features. 
    </p>
    <p>
      Uploading a Dataset:  A user can sign-in and upload a dataset (as a text file) with any number of channels (separated by tab characters).  At this stage the user must enter the number of channels and sampling rate by hand and select if the dataset is to be public or private.  Once the file is uploaded the user must add titles for each data channel before they can be viewed.
    </p>
    <p>
      Viewing a dataset:  A user can navigate to a dataset and select any channel to view, the data will be displayed as signal amplitude vs time (calculated using sampling rate).  Some basic statistics are calculated and displayed alongside the plot.  The statistics can also be displayed on the plot.
    </p>
    <p>
      User Dashboard:  Users will have a dashboard where they will be able to view all of the datasets they have uploaded.
    </p>
    <br />
  </div>
  <br />
  <br />
  <br />
  <br />
  <div class="inset-box text-center">
    <h1>Upcoming Features</h1>
  </div>
  <br />
  <div class="inset-box">
    <br />
    <p class="text-center">
      The features added will first focus on improving the data visualization and processing tools.  There is little motivation for a user to upload a dataset if the visualization and processing tools are sub-par.  Further feature rollouts will increase the types of data files accepted, read header information from files, and improve dataset database navigation.
    </p>
    <br />
    <div class="col-10 offset-1">
      <p> 
        Data Visualization: 
        <ul>
          <li>  - Ability to select the size of data window and scroll across data (currently entire data set is displayed).</li>
          <li>  - Ability to download data visualization as a png.</li>
        </ul>
      </p>
      <br />
      <p>
        Processing Tools:
        <ul>
          <li>  - Power spectral sensity (PDS) analysis.</li>
          <li>  - Noise IIR filter application (lowpass, highpass, bandpass and bandstop).</li>
        </ul>
      </p>
      <br />
      <p>
        File Uploads:
        <ul>
          <li>  - New features to include other file formats (.xlsx, .edf, .dat …) for upload will be continually added.</li>
          <li>  - Ability to read in header information when uploading datasets.</li>
        </ul>
      </p>
      <br />
      <p>
        Database:
        <ul>
          <li>  - Addition of categories and tags for datasets and implementation of a search function to more easily find signals of interest.</li>
        </ul>
      </p>
    </div>
    <br />
  </div>
</div>