
<div>
  <h2 class="text-center">Your Data</h2>
</div>
<div>
  <div id="chart" class="svg-container">
  </div>
</div>
<div>
  <div class="col-10 offset-1">
    <h2 class="text-center">Basic Statistics</h2>
  </div>
</div>


<script>
var yBreakPoint = 550;
var xBreakPoint = 300;


var Chart = (function(window,d3) {
    //console.log('Hello World!')

  var data = <%=raw @mydata %>;
  var dataSps = <%=raw @mysps.to_i %>;
  console.log(dataSps);
  var svg, x, y, xAxis, yAxis, dim, chartWrapper, line, path, yTitlePos, margin = {}, width, height;
  //console.log(data.length);
  
  var finalTick = dataSps - ((data.length-1) % dataSps) + dataSps/2;
  //console.log(fullest);

 var timeStamp = [];
  for (var i = 0; i < data.length + finalTick; i++) {
    timeStamp.push(i/dataSps);
  }
  //console.log(timestamp);


  init(data, timeStamp);
  //called once the data is loaded
  //(start)
  function init(data, timeStamp) {
    //console.log('Hello World!');
    //console.log(timestamp.length);

    //initialize scales
    xExtent = d3.extent(timeStamp, function(d,i) { return d });
    //console.log(xExtent);
    yExtent = d3.extent(data, function(d,i) { return d });
    //console.log(yExtent);

    //
   
    //
    
    x = d3.scaleLinear().domain(xExtent);
    y = d3.scaleLinear().domain(yExtent);
    //console.log(x);

    //initialize axis
    xAxis = d3.axisBottom(x);
    yAxis = d3.axisLeft(y);

    //the path generator for the line chart
    line = d3.line()
      .x(function(d,i) { return x(timeStamp[i]) })
      .y(function(d,i) { return y(data[i]) });
    //initialize svg
    svg = d3.select('#chart').append('svg').classed('chart-area', true);
    chartWrapper = svg.append('g');
    path = chartWrapper.append('path').datum(data).classed('line', true);
    chartWrapper.append('g').classed('x axis', true);
    chartWrapper.append('g').classed('y axis', true);
    chartWrapper.append('text').classed('y-label', true);
    chartWrapper.append("text").classed('x-label', true);
 
    

    

    //render the chart
    render();
  }
//(end)

//(start)
  function render() {

    //get dimensions based on window size
    updateDimensions(window.innerWidth * 0.9);
    
    //update x and y scales to new dimensions
    x.range([0, width]);
    y.range([height*0.5, 0]);

    //update svg elements to new dimensions
    svg
      .attr('width', width + margin.right + margin.left)
      .attr('height', height * 0.5 + margin.top + margin.bottom);
    chartWrapper.attr('transform', 'translate(' + margin.left + ',' + margin.top + ')');  

    //update the axis and line
    xAxis.scale(x);
    yAxis.scale(y);

    chartWrapper.select('.y-label')
      .attr("y", -34)
      .attr("x", -yTitlePos)
      .attr("text-anchor", "middle")
      .attr("transform", "rotate(-90)")
      .text("Voltage (V)");

    chartWrapper.select('.x-label')
      .attr("y", xTitleVert)
      .attr("x", xTitleHor)
      .text("Time (s)");
      


    if(window.innerWidth < xBreakPoint) {
       xAxis.ticks(5)
    }
    else {
      xAxis.ticks(11)
    }

    if(window.innerWidth < yBreakPoint) {
       yAxis.ticks(4)
    }
    else {
      yAxis.ticks(9)
    }



    
    svg.select('.x.axis')
      .attr('transform', 'translate(0,' + height * 0.5 + ')')
      .call(xAxis);

    svg.select('.y.axis')
      .call(yAxis);

    
   
    path.attr('d', line);
  }
//(end)

//(start)
  function updateDimensions(winWidth) {
    margin.top = 20;
    margin.right = 20;//winWidth < breakPoint ? 0 : 50;
    margin.left = 50;//winWidth < breakPoint ? 0 : 50;
    margin.bottom = 50;

    width = (winWidth - margin.left - margin.right);
    height = .7 * width; //aspect ratio is 0.7
    //console.log(height);
    //console.log(width);
    yTitlePos = 0.267 * height + 0.6424;
    //console.log(yTitlePos);
    xTitleVert = 0.3475 * width + 38.57;
    xTitleHor = 0.4847 * width - 22.552;


  }

  return {
    render : render
  }
//(end)

})(window,d3);

window.addEventListener('resize', Chart.render);
      
</script>

