@import "bootstrap";

body{
    background-color: #A68CD8;

}

h1{
  font-size:  1.7rem;
}




.navbar {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
  background-color: #483174;
  }

.navbar-inverse a.navbar-brand {
  font-weight: 100;
  color: #DDCEFB;
}

.navbar-light .navbar-toggler{
  border-color: #DDCEFB;
  color: #DDCEFB;
}
.navbar-nav{
  font-size: 1.25rem;
}

#n-bar {
 color: #DDCEFB; 
}

#n-bar a {
  color: #DDCEFB;
}


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  
}

.line {
  fill: none;
  stroke: #483174;
  stroke-width: 0.3px;
}

.svg-container text{
    font-size: 0.8rem;
}

.stats-box{
    padding: none;
}

.shadow-box {
  box-shadow: 0px 1px 3px #2a2a2a;
  background-color: #DDCEFB;
  display: block;
  margin: auto;
}

.stats-table {
  font-size: 1rem;
  height: 100%;
  width: 100%;
  background-color: #DDCEFB;
  border: none;
  box-shadow: 0px 1px 3px #2a2a2a;
}

th, td {
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 25px;

}