@import "bootstrap";

body{
    /*background-color: #A68CD8;*/
    /*background-color: #826E78;*/
    background-color: #D6D6D6;
    background: image_url('wood.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


}

h1 {
  font-size:  1.7rem;
}


h2{
  font-size:  1rem; 
}

h3 {
  text-align: center;  
  font-size: 15px;
  height: auto;
  background: image_url('deep-bkrnd.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}



.navbar {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  box-shadow: 0 0 2px #2a2a2a;
  background-color: #D6D6D6;
  border-right: 1.5px solid #BDBDBD;
  border-bottom: 1.5px solid #BDBDBD;
  border-left: 1.5px solid #E8E8E8;
  border-top:  1.5px solid #E8E8E8;
  background: image_url('silver2.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }

.navbar-inverse a.navbar-brand {
  font-weight: 100;
  /*color: #DDCEFB;*/
}

.navbar-light .navbar-toggler{
  /*border-color: #DDCEFB;*/
  /*color: #DDCEFB;*/
}
.navbar-nav{
  font-size: 1.25rem;
}

#n-bar {
 /*color: #DDCEFB; */
}

#n-bar a {
  /*color: #DDCEFB;*/
}


.axis path,
.axis line, {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  
}

.line {
  fill: none;
  stroke: #722B3E;
  stroke-width: 0.3px;
}

.svg-container text{
    font-size: 0.8rem;
}

.stats-box{
    padding: none;

}

.shadow-box {
  display: block;
  margin: auto;
  background: image_url('deep-bkrnd.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  

  box-shadow: 0 0 20px #2a2a2a inset;
  border-radius: 25px;
  border-left: 2px solid  #1B1B1B;
  border-top: 2px solid   #1B1B1B;
  border-right: 2px solid #363636;
  border-bottom:  2px solid #363636;
}



.stats-table {
  font-size: 1rem;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 20px #FF0066 inset;
  border-left: 2px solid #BDBDBD;
  border-top: 2px solid #BDBDBD;
  border-right: 2px solid #A9A9A9;
  border-bottom:  2px solid #A9A9A9;
  border-radius: 25px;

  
  
}

table {
  border-radius: 25px;
}

th, td {
    border: 1px solid black;
 
}

#normBtn {
  margin-top: 5px;
}

.inset-box {
  box-shadow: 0 0 15px #2a2a2a inset;
  border-left: 2px solid  #1B1B1B;
  border-top: 2px solid   #1B1B1B;
  border-right: 2px solid #363636;
  border-bottom:  2px solid #363636;
  border-radius: 25px;
  background: image_url('deep-bkrnd.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.raised-box {
  box-shadow: 1px 1px 15px #black;
  border-right: 2px solid #ADADAD;
  border-bottom: 2px solid #ADADAD;
  border-left: 2px solid #EDEDED;
  border-top:  2px solid #EDEDED;
  background: image_url('silver2.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}
.edge-col {
  padding-right: 15px;
}

.edge-row {
  padding-right: 15px !important;
}

.max-line, .min-line, .mean-line, median-line, variance-line, deviation-line {
  fill: none;
  shape-rendering: crispEdges;
}

.max-line {
  stroke: #FF6EFF;
}


.min-line {
  stroke: #50BFE6;
}


.mean-line {
  stroke: #FD5B78;
  shadow: 0 0 5px #2a2a2a;
}


.median-line {
  stroke: #FF6037;
}


.variance-line {
  stroke: #66FF66;
}


.deviation-line {
  stroke: #FFFF66;
}

#maxBtn, #minBtn, #meanBtn, #medianBtn, #varianceBtn, #deviationBtn, #fakeBtn:hover {
  cursor: pointer;
}

#normBtn {
  background: image_url('silver2.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 10px;
}

#gone {
  display: none !important;
}

.fancy-link a{
  color: black;  
}

.fancy-link:hover {
  box-shadow: 0 0 25px #722B3E inset;
}

.fancy-link a:hover{
  text-decoration: none;  
}

#center-button {
  background: image_url('silver2.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 10px;  
}


input[type=text]:focus {
    box-shadow: 0 0 12px #722B3E inset;
    border-color: black;

}

input[type=text] {
  border-color: #722B3E;
  box-shadow: 0 0 25px #722B3E inset;
  border-width: thin;
}
